.menu {
  padding: 15px;
}
.menu-item-value {
  width: 40px;
  height: 10px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu:hover {
  background-color: #edf2ff;
  color: #1d4ed8;
}

.menu:hover .menu-item-value {
  background-color: #b1cdfd;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected {
  color: red !important;
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}
